# Configuration files
shlCommon.py
defaults.cfg

# Python stuff
*.pyc

# Object files
*.o

# Libraries
*.a
*.so

# Executables
HVAC/adc_read
HVAC/compressor1_disable
HVAC/compressor1_enable
HVAC/compressor1_status
HVAC/compressor2_disable
HVAC/compressor2_enable
HVAC/compressor2_status
HVAC/controller_disable
HVAC/controller_enable
HVAC/controller_status
HVAC/gpio_off
HVAC/gpio_on
HVAC/lead_lag_status
